{% extends "base.html" %}
{% block content %}

<div class="container" align="center">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; border: 0px;">
            <img src="static/images/logo.png" class="card-img-top">
              <div class="card-body">
                <a href="static/images/movie.gif" class="text-white" style="text-decoration: none;"><h5 class="card-title" style="font-weight: bold;">Demo</h5></a>
                <p class="card-text text-muted">Welcome to PyChat !!! You must first register to try this application.</p>
              </div>
        </div>
</div>



{% endblock %}