{% extends "base.html" %}
{% block content %}

<main class="container">
  <div class="bg-light p-3 rounded" align="center">
    <h3>Log In</h3>
    <p>Example help.</p>
  </div>

  <form method="POST">
      {{form.hidden_tag()}}


          <div class="mb-3">
              {{form.email.label(class="form-label")}}
              {{form.email(class="form-control")}}
              <div class="form-text">Enter email.</div>
              <br>
              {{form.password.label(class="form-label")}}
              {{form.password(class="form-control")}}
              <div class="form-text">Enter password.</div>
          </div>


      {{form.submit(class="btn btn-primary")}}

  </form>
</main>
{% endblock %}