<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="signup-form">
  <form method="POST">
      {{form.hidden_tag()}}
      <h4 class="text-muted">Please Register</h4>
      <p></p>
      <div class="mb-3">
              {{form.email(class="form-control border-0", placeholder="Enter email", style="width: 20rem;")}}
              <p></p>
              {{form.username(class="form-control border-0",  placeholder="Enter username", style="width: 20rem;")}}
              <p></p>
              {{form.password(class="form-control border-0", placeholder="Enter password", style="width: 20rem;")}}
              <p></p>
              {{form.pass_confirm(class="form-control border-0", placeholder="Confirm password", style="width: 20rem;")}}
              <p></p>
              {{form.submit(class="btn btn-success", style="width: 10rem; height:3rem; font-size: 20px; font-weight: bold;")}}
      </div>

  </form>
</div>



</body>
</html>