{% extends "base.html" %}
{% block content %}
<p>

</p>
<div class="jumbotron">
    <h1>Add owner.</h1>
    <p>Please fill id before submit.</p>
</div>
<div class="container">
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
        <br>
            {{form.id.label(class="form-label")}}
            {{form.id(class="form-control")}}
        <br>
        </div>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}